<h1>Pages#location</h1>
<p>Find me in app/views/pages/location.html.erb</p>

<h2>Location</h2>
<div class="card z-depth-3">
    <div class="card-content black-text">
   	 <div class="row">
   		Here is where you want to go<br/> 
   		 <iframe
		width="600"
  		height="450"
  		frameborder="0" style="border:0"
  		src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBFKDKowUTgk6TXvKnPCNk1_l8Sj5lhD6U
    	&q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe>


   	   	
 </div>    
   	 </div>
</div>

